<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>404-page not found</title>
    <style>
         h1 {
            font-family: "Bungee Inline", sans-serif;
            font-weight: 400;
            font-size: 4rem;
            color: black;
            transform: skewY(-5deg);
            margin-bottom: 6rem;
            margin-top:3rem;
            text-align: center;
            position: relative;
            word-spacing: 3px;
        }
    </style>
    <body>
        <h1>404-URL not found on server</h1>
    </body>